.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #15121e;
  height: 400px;
  width: auto;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  form{
    width:200px;
    padding: 10px;
    input{
      border:none;
      border-radius:5px;
      padding: 5px;
      margin: 5px;
    }
  }
}
