.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #15121e;
  height: 400px;
  color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding:20px;
  .postsBlog{
    width: 80%;
    margin:10px;
    border-radius:7px;
    border:1px solid #ff276f;
  }
  form{
    width:200px;
    padding: 10px;
    input{
      border:none;
      border-radius:5px;
      padding: 5px;
      margin: 5px;
    }
  }
}
