*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  height:auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #15121e;
  height: auto;
  color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding:20px;
  
  .postsBlog{
    width:20rem;
    margin:10px;
    border-radius:7px;
    border:1px solid #ff276f;
    padding:20px;
    h2{
      margin-bottom:15px;
    }
    h3{
      margin-top:20px;
    }
  }
  form{
    display:flex;
    flex-direction:column;
    width:300px;
    align-items:stretch;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    label{

    }
    button{
      margin-left: auto;
      margin-right: auto;
      width: 7rem;
      padding: 5px;
      margin-top:7px;
      border:none;
      background-color:#ff276f;
      border-radius: 5px;
      box-shadow: 0 0 10px 0px #f6f6f6;
      transition: 0.5s ease;
      &:hover{
        box-shadow: 0 0 20px 10px #f6f6f6, inset 0 0 20px 20px #f6f6f6  ;
      }
    }
    input{
      border:none;
      border-radius:5px;
      padding: 10px;
      margin: 15px;
      width: 15rem;
      font-size: 18px;
    }
  }
}
